<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>hw6</title>
</head>
<body onload="enableSearch()">
    <div class="header" align="center">
        Events Search
    </div>

    <div class="form">
        <form id="firstForm">
            <table align="center" >
                <tr>
                    <td>
                        Keyword &nbsp;
                        <input type="text" id="keyWord" name="keyWord" autocomplete="on" required >
                    </td>
                </tr>
                <tr>
                    <td>
                        Category &nbsp;
                        <select>
                            <option value="Default">Default</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Distance(miles) &nbsp;
                        <input type="number" id="keyWord" name="keyWord" autocomplete="on" required > &nbsp;
                        from &nbsp;
                        <label><input type="radio" name="distance" value="Here">Here</label>
                        <label><input type="radio" name="distance" value="Other"><input type="number" name="distance" placeholder="10"></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" id="Search" value="Search" disabled="disabled" /> &nbsp;&nbsp;
                        <!-- <button id="Search" onclick="checkform()" disabled="disabled">Search</button> &nbsp;&nbsp; -->
                        <button onclick="checkform()">Clear</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>

</body>
</html>
<script>
   function clearform(){
        document.getElementById("firstForm").reset();
   }

   function enableSearch(){
        var x=document.getElementById("Search")
        // alert(x.innerHTML)
        document.getElementById("Search").removeAttribute("disabled")
   }

   function checkform(){
       var x = document.getElementById("keyword").value;
       console.log(x);
   }
</script>